<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Who Are We?
    </h3>
    <blockquote cite="{{ site.url }}">
      We create extraordinary artisanal luxury candles and home decor.
      <br>
      Every piece is a hand crafted work of art with great attention to detail and clean ingredients.
    </blockquote>
  </div>
  <div class="section-content">
    <h3 class="lead">
      How Do You Pronounce Cire?
    </h3>
    <blockquote cite="{{ site.url }}">
      We prefer to pronounce "CIRE" as "SIR-RAY" for a couple of reasons.
      Cire comes from an old French term for "Wax" and that's our main medium.
      Also, since Ray Cardillo is the artisan behind the brand, it's a clever way to incorporate his name into the brand. 
    </blockquote>
  </div>
</section>