<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Who Is Cire Artistry?
    </h3>
    <blockquote cite="{{ site.url }}">
      <p>
        Right now, it's just me, Ray Cardillo. I'm an independent artisan producing all of the items for the brand, operating with occasional help from family.
      </p>
      <p>
        My mission is to create extraordinary artisanal luxury candles and home decor.
      </p>
      <p>
        Every piece is a hand crafted work of art with great attention to detail and premium materials.
      </p>
    </blockquote>
  </div>
  <div class="section-content">
    <h3 class="lead">
      What Type of Wax/Materials Do You Use?
    </h3>
    <blockquote cite="{{ site.url }}">
      I strive to use natural products from brands with a commitment to sustainability.
      While this is possible for most materials, as a small artisan, I cannot make a specific guarantee.
      That said, the waxes I use are plant-based from a well-known company (<a href="https://www.aak.com/applications/candles/golden-wax/" target="_blank">AAK</a>) that has a <a href="https://www.aak.com/sustainability/our-commitment/" target="_blank">commitment to sustainability</a>.
      More generally, I try to use premium materials because I want my products to be premium quality.
    </blockquote>
  </div>
  <div class="section-content">
    <h3 class="lead">
      How Do You Pronounce Cire?
    </h3>
    <blockquote cite="{{ site.url }}">
      In French, "Cire" (pronounced like "sear") means "wax" and "Ciré" (pronounced like "sir-ray") means "waxed".
      I prefer to pronounce it as "SIR-RAY" ("Ciré") because it's a clever way to incorporate the sound of my first name ("Ray") into the brand. 
    </blockquote>
  </div>
</section>